Source: python-socketio2
Maintainer: Luke Yeager <luke.yeager@gmail.com>
Section: universe/python
Priority: optional
Build-depends: debhelper (>= 9), dh-python, python-all, python-setuptools, python-six, python-engineio, python-mock
Standards-Version: 3.9.5
Homepage: http://pythonhosted.org/python-socketio
Vcs-Browser: https://github.com/miguelgrinberg/python-socketio

Package: python-socketio2
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Conflicts: python-socketio
Description: Python Socket.IO server
 This project implements a Socket.IO server that can run standalone or
 integrated with a Python WSGI application.
